html, body{
    height: 100%;
    width: 100%;
}

.alq_container{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.btn{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.padding-vertical-20{
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.bg-orange{
    background: $color-orange;
}
.bg-green{
    background: $color-green;
}
.bg-green-ligth{
    background: $color-green-ligth;
}
.bg-yellow{
    background: $color-yellow;
}
.bg-red{
    background: $color-red;
}
.bg-blue-ligth{
    background: $color-blue-ligth;
}

.divider{
    height: 5px;
    background: darken($color-grey, 10%);
    width: 100%;
}