$color-blue: #6081C4;
$color-blue-ligth: #00B7D8;

$color-yellow: #F89E1C;

$color-orange: #F0602D;

$color-red: #CF1F38;

$color-green: #00A57D;
$color-green-ligth: #B3C600;

$color-grey: #E6E7E8;

$color-white: #ffffff;

$color-black: #212121;